html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{title} | Brew Master
    //
       Bootstrap Core CSS 
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    //
       MetisMenu CSS 
    link(href='http://cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/css/metismenu.min.css', rel='stylesheet')
    //
       Custom CSS 
    link(href='/stylesheets/sb-admin-2.css', rel='stylesheet')
    //
       App CSS 
    link(href='/stylesheets/style.css', rel='stylesheet')

    //bootstrap toggle switch style
    link(href='/stylesheets/bootstrap-toggle.css', rel='stylesheet')

    //
       Custom Fonts 
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    #wrapper
      //
         Navigation 
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0;')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') BM
        //
           /.navbar-header 
        ul.nav.navbar-top-links.navbar-right
          li
            a(href='#')
                  i.fa.fa-gear.fa-fw

          
        .navbar-default.sidebar(role='navigation')
            .sidebar-nav.navbar-collapse
                ul#side-menu.nav
                  li
                    a(href='/', class=title=='Brew'?'active':undefined)
                      i.fa.fa-beer.fa-fw
                      | Dashboard
                  li
                    a(href='/calendar', class=title=='Calendar'?'active':undefined)
                        i.fa.fa-calendar.fa-fw
                        | Calendar
                  li.active
                    a(href='#')
                      i.fa.fa-wrench.fa-fw
                      | Controls
                      span.fa.arrow
                    ul.nav.nav-second-level.collapse.in
                        li
                            a(href='#')
                                #all-controls
                                    div.pull-right(style='padding:10px')
                                        span(style='padding-right:5px') Mash Tun Burner 
                                        .toggle.btn.off.btn-primary(data-toggle='toggle')
                                            input#mt-burner-toggle(type='checkbox',checked=false)
                                            .toggle-group
                                                label.toggle-on.btn.btn-primary On
                                                label.toggle-off.btn.btn.btn-default.active Off
                                                span.toggle-handle.btn.btn-default
                                    div.pull-right(style='padding:10px')
                                        span(style='padding-right:5px') HLT Burner 
                                        .toggle.btn.off.btn-primary(data-toggle='toggle')
                                            input#hlt-burner-toggle(type='checkbox',checked=false)
                                            .toggle-group
                                                label.toggle-on.btn.btn-primary On
                                                label.toggle-off.btn.btn.btn-default.active Off
                                                span.toggle-handle.btn.btn-default
                                    div.pull-right(style='padding:10px')
                                        span(style='padding-right:5px') Left Pump 
                                        .toggle.btn.off.btn-primary(data-toggle='toggle')
                                            input#left-pump-toggle(type='checkbox',checked=false)
                                            .toggle-group
                                                label.toggle-on.btn.btn-primary On
                                                label.toggle-off.btn.btn.btn-default.active Off
                                                span.toggle-handle.btn.btn-default
                                    div.pull-right(style='padding:10px')
                                        span(style='padding-right:5px') Right Pump 
                                        .toggle.btn.off.btn-primary(data-toggle='toggle')
                                            input#right-pump-toggle(type='checkbox',checked=false)
                                            .toggle-group
                                                label.toggle-on.btn.btn-primary On
                                                label.toggle-off.btn.btn.btn-default.active Off
                                                span.toggle-handle.btn.btn-default


      //
         Page Content 
      #page-wrapper
        .row
          .col-lg-12
            block content

    //
       jQuery Version 1.11.0 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    //
       Bootstrap Core JavaScript 
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    //
       Metis Menu Plugin JavaScript 
    script(src='//cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/js/metismenu.min.js')
    //
       Custom Theme JavaScript 
    script(src='/javascripts/sb-admin-2.js')

    //
        Socket.io client
    script(src='http://cdn.socket.io/socket.io-1.0.6.js')

    //google charts js
    script(src='http://www.google.com/jsapi')


    //toggle button script
    script(src='/javascripts/bootstrap-toggle.js')
    

    //
       Custom Theme JavaScript 
    script(src='/javascripts/brew-station.js')
    
    

    
